<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <display-name>DepEd Rest Application</display-name>


    <listener>
        <listener-class>com.deped.config.Log4jRestAppContextListener</listener-class>
    </listener>

    <!--<session-config>-->
    <!--<cookie-config>-->
    <!--<name>hp-id</name>-->
    <!--</cookie-config>-->
    <!--<tracking-mode>COOKIE</tracking-mode>-->
    <!--</session-config>-->


    <!--<jsp-config>-->
    <!--<jsp-property-group>-->
    <!--<url-pattern>*.jsp</url-pattern>-->
    <!--<scripting-invalid>true</scripting-invalid>-->
    <!--</jsp-property-group>-->

    <!--</jsp-config>-->


</web-app>